@media (max-width: 767px)
  header
    .h2
      font-size 1.5rem

.view
    position fixed
    height 100%
    width 100%

.full-bg-img
    position relative
    height 100%

header
  .h2
    font-weight bold